<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>Program Informasi Kelas Siswa</title>
    <link rel="author" href="https://sman3-malang.sch.id">
    <meta name="author" content="SMA Negeri 3 Malang">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicons/favicon-16x16.ico" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-32x32.ico" sizes="32x32" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-96x96.ico" sizes="96x96" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-128x128.ico" sizes="128x128" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-192x192.ico" sizes="192x192" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-196x196.ico" sizes="196x196" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-256x256.ico" sizes="256x256" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon-512x512.png" sizes="512x512" type="image/png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-57x57.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-60x60.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-72x72.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-76x76.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-114x114.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-120x120.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-144x144.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-152x152.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-167x167.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-apple-180x180.png">
    <meta name="msapplication-TileImage" content="/favicons/favicon-mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="/favicons/favicon-mstile-70x70.png">
    <meta name="msapplication-square144x144logo" content="/favicons/favicon-mstile-144x144.png">
    <meta name="msapplication-square150x150logo" content="/favicons/favicon-mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="/favicons/favicon-mstile-310x310.png">
  </head>
  <body>
    <header>
      <h1>Program Informasi Kelas Siswa</h1>
    </header>
    <main>
      <img src="logo_smanti.png" width="200px">
      <form id="student-form">
        <label for="student-id">Masukan NIS anda disini :</label>
        <input type="text" id="student-id" name="student-id" required>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2024 <B>Program Informasi Kelas Siswa by Marchellino G I | SMAN 3 Malang | All rights reserved</B></p>
    </footer>
    <script>
      const studentFormElement = document.getElementById("student-form");
      studentFormElement.addEventListener("submit", async e => {
        e.preventDefault();
        const studentFormData = new FormData(studentFormElement);
        const studentId = studentFormData.get("student-id");
        const response = await fetch("/api/get-signature", {
          method: "POST",
          headers: new Headers({ "Content-Type": "application/json" }),
          body: JSON.stringify({ id: studentId })
        });
        if(!response.ok) {
          alert("Kode Siswa salah!");
          return;
        }
        const signature = await response.text();
        window.location = `/success/${signature}`;
      });
    </script>
  </body>
</html>
