@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header, footer {
  background-color: #76b2fe;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

form {
  margin: 20px 0;
  width: 100%;
  max-width: 30rem;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label, form input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

button {
  background-color: #76b2fe;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a90e2;
}

.table-container {
  margin: 20px 0;
  width: 100%;
  max-width: 80rem;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.table-container .dt-layout-table {
  overflow: auto;
}

.info-table {
  margin: 20px 0;
  width: 100%;
  max-width: 30rem;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.info-table table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}
.info-table table td:nth-child(1) {
  color: rgb(51, 51, 51);
  font-weight: 700;
}
.info-table table tr > td {
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  main {
    padding: 0 15px;
  }
}
